---
import Navigation from "../../../../index";

import navigationItems from "../../../utils/full-tree";
---

<h1>Full tree example</h1>

<Navigation navigationItems={navigationItems} currentLevel={1} />
