---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../../../index";

import navigationItems from "../../../utils/full-tree";
---

<Layout>
  <Navigation
    navigationItems={navigationItems}
    currentLevel={1}
    slot="navigation"
  />

  <h2>Full Tree Example</h2>
  <p>
    You can see the full navigation tree on the left - and that's pretty much
    all this page has to offer.
  </p>
</Layout>
