---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../../../index";

import navigationItems from "../../../utils/full-tree";

const partialTree = [
  { url: "/", text: "Home" },
  {
    url: "/examples/",
    text: 'Examples (will skip to "Full Tree Example")',
    redirect: "/examples/full-tree/",
  },
];
---

<Layout>
  <Navigation navigationItems={navigationItems} slot="navigation" />

  <h2>Partial Trees</h2>
  <p>
    Use partial trees if you only want to show specific elements of the
    navigation without sacrificing the `active` class on the current menu item
  </p>

  <nav>
    <Navigation navigationItems={partialTree} maxLevel={1} />
  </nav>
</Layout>
