---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../../../index";

import navigationItems from "../../../utils/full-tree";
---

<Layout>
  <Navigation navigationItems={navigationItems} slot="navigation" />
  <h2>Custom start level</h2>
  <p>
    You can use "startLevel" to skip level in the tree. This is useful if you
    only want to show sibling nodes and their chuld nodes. For example when you
    don't want to show the top-level navigation in sub-pages.
  </p>

  <nav>
    <Navigation navigationItems={navigationItems} startLevel={2} />
  </nav>
</Layout>
