---
import Layout from "../layouts/Layout.astro";
import Navigation from "../../../index";

import navigationItems from "../../utils/full-tree";
---

<Layout>
  <Navigation navigationItems={navigationItems} slot="navigation" />
  <h2>Example Home</h2>
  <p>This is the example homepage the Navigation component.</p>
  <p>
    The navigation on the left is rendert by the component and shows all
    elements from the "navigationItems" object.<br />
    All nodes in the navigation items object need a unique "url" to build the dependency
    graph. But sometimes you don't have a an "index" page for a submenu item - like
    the navigation item "Examples" which redirects to "Full Tree Example". This is
    done by given the item a separate "redirect", which points to the actual page
    you want to link to.
  </p>
</Layout>
